*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ba : 2px solid red;
}
.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url("Image/Happy\ Birthday\ Cupcake\ Mobile\ Background.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 180px;
    /* border: var(--ba); */
    display: flex;
    flex-direction: column;
}
input{
    font-size: 120%;
    outline: none;
    color: rgb(224, 132, 132);
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(224, 132, 132);
    padding-left: 10px;
}
::placeholder{
    color: rgb(224, 132, 132);
}
p{
    color: rgb(224, 132, 132);
    padding-left: 10px;
}
button{
    width: 100px;
    height: 35px;
    align-self:center;
    margin-top: 50px;
    color: rgb(224, 132, 132);
    font-size: 120%;
    background-color: transparent;
    /* outline: none; */
    border-radius: 10px;
    border:2px solid rgb(224, 132, 132) ;
    transition: 0.5s;
    
}
button:hover{
    background-color: red;
    border:2px solid red ;
    color: white;
}
button:disabled{
    cursor: not-allowed;
}